.env
.venv/
sample_data/
asynch_indexer/__pycache__
poppler-24.08.0/Library/bin/cairo.dll
poppler-24.08.0/Library/bin/charset.dll
poppler-24.08.0/Library/bin/deflate.dll
poppler-24.08.0/Library/bin/expat.dll
poppler-24.08.0/Library/bin/fontconfig-1.dll
poppler-24.08.0/Library/bin/freetype.dll
poppler-24.08.0/Library/bin/iconv.dll
poppler-24.08.0/Library/bin/jpeg8.dll
poppler-24.08.0/Library/bin/lcms2.dll
poppler-24.08.0/Library/bin/Lerc.dll
poppler-24.08.0/Library/bin/libcrypto-3-x64.dll
poppler-24.08.0/Library/bin/libcurl.dll
poppler-24.08.0/Library/bin/libexpat.dll
poppler-24.08.0/Library/bin/liblzma.dll
poppler-24.08.0/Library/bin/libpng16.dll
poppler-24.08.0/Library/bin/libssh2.dll
poppler-24.08.0/Library/bin/libtiff.dll
poppler-24.08.0/Library/bin/libzstd.dll
poppler-24.08.0/Library/bin/openjp2.dll
poppler-24.08.0/Library/bin/pdfattach.exe
poppler-24.08.0/Library/bin/pdfdetach.exe
poppler-24.08.0/Library/bin/pdffonts.exe
poppler-24.08.0/Library/bin/pdfimages.exe
poppler-24.08.0/Library/bin/pdfinfo.exe
poppler-24.08.0/Library/bin/pdfseparate.exe
poppler-24.08.0/Library/bin/pdftocairo.exe
poppler-24.08.0/Library/bin/pdftohtml.exe
poppler-24.08.0/Library/bin/pdftoppm.exe
poppler-24.08.0/Library/bin/pdftops.exe
poppler-24.08.0/Library/bin/pdftotext.exe
poppler-24.08.0/Library/bin/pdfunite.exe
poppler-24.08.0/Library/bin/pixman-1-0.dll
poppler-24.08.0/Library/bin/poppler-cpp.dll
poppler-24.08.0/Library/bin/poppler-glib.dll
poppler-24.08.0/Library/bin/poppler.dll
poppler-24.08.0/Library/bin/tiff.dll
poppler-24.08.0/Library/bin/zlib.dll
poppler-24.08.0/Library/bin/zstd.dll
poppler-24.08.0/Library/bin/zstd.exe
poppler-24.08.0/Library/include/poppler/Annot.h
poppler-24.08.0/Library/include/poppler/AnnotStampImageHelper.h
poppler-24.08.0/Library/include/poppler/Array.h
poppler-24.08.0/Library/include/poppler/BBoxOutputDev.h
poppler-24.08.0/Library/include/poppler/CachedFile.h
poppler-24.08.0/Library/include/poppler/CairoFontEngine.h
poppler-24.08.0/Library/include/poppler/CairoOutputDev.h
poppler-24.08.0/Library/include/poppler/CairoRescaleBox.h
poppler-24.08.0/Library/include/poppler/Catalog.h
poppler-24.08.0/Library/include/poppler/CertificateInfo.h
poppler-24.08.0/Library/include/poppler/CharCodeToUnicode.h
poppler-24.08.0/Library/include/poppler/CharTypes.h
poppler-24.08.0/Library/include/poppler/CMap.h
poppler-24.08.0/Library/include/poppler/CurlCachedFile.h
poppler-24.08.0/Library/include/poppler/CurlPDFDocBuilder.h
poppler-24.08.0/Library/include/poppler/DateInfo.h
poppler-24.08.0/Library/include/poppler/Decrypt.h
poppler-24.08.0/Library/include/poppler/Dict.h
poppler-24.08.0/Library/include/poppler/Error.h
poppler-24.08.0/Library/include/poppler/ErrorCodes.h
poppler-24.08.0/Library/include/poppler/FDPDFDocBuilder.h
poppler-24.08.0/Library/include/poppler/FILECacheLoader.h
poppler-24.08.0/Library/include/poppler/FileSpec.h
poppler-24.08.0/Library/include/poppler/FontEncodingTables.h
poppler-24.08.0/Library/include/poppler/FontInfo.h
poppler-24.08.0/Library/include/poppler/Form.h
poppler-24.08.0/Library/include/poppler/Function.h
poppler-24.08.0/Library/include/poppler/Gfx.h
poppler-24.08.0/Library/include/poppler/GfxFont.h
poppler-24.08.0/Library/include/poppler/GfxState_helpers.h
poppler-24.08.0/Library/include/poppler/GfxState.h
poppler-24.08.0/Library/include/poppler/GlobalParams.h
poppler-24.08.0/Library/include/poppler/HashAlgorithm.h
poppler-24.08.0/Library/include/poppler/Hints.h
poppler-24.08.0/Library/include/poppler/JArithmeticDecoder.h
poppler-24.08.0/Library/include/poppler/JBIG2Stream.h
poppler-24.08.0/Library/include/poppler/JPEG2000Stream.h
poppler-24.08.0/Library/include/poppler/JSInfo.h
poppler-24.08.0/Library/include/poppler/Lexer.h
poppler-24.08.0/Library/include/poppler/Linearization.h
poppler-24.08.0/Library/include/poppler/Link.h
poppler-24.08.0/Library/include/poppler/LocalPDFDocBuilder.h
poppler-24.08.0/Library/include/poppler/MarkedContentOutputDev.h
poppler-24.08.0/Library/include/poppler/Movie.h
poppler-24.08.0/Library/include/poppler/NameToCharCode.h
poppler-24.08.0/Library/include/poppler/NameToUnicodeTable.h
poppler-24.08.0/Library/include/poppler/Object.h
poppler-24.08.0/Library/include/poppler/OptionalContent.h
poppler-24.08.0/Library/include/poppler/Outline.h
poppler-24.08.0/Library/include/poppler/OutputDev.h
poppler-24.08.0/Library/include/poppler/Page.h
poppler-24.08.0/Library/include/poppler/PageTransition.h
poppler-24.08.0/Library/include/poppler/Parser.h
poppler-24.08.0/Library/include/poppler/PDFDoc.h
poppler-24.08.0/Library/include/poppler/PDFDocBuilder.h
poppler-24.08.0/Library/include/poppler/PDFDocEncoding.h
poppler-24.08.0/Library/include/poppler/PDFDocFactory.h
poppler-24.08.0/Library/include/poppler/poppler_private_export.h
poppler-24.08.0/Library/include/poppler/poppler-config.h
poppler-24.08.0/Library/include/poppler/PopplerCache.h
poppler-24.08.0/Library/include/poppler/PreScanOutputDev.h
poppler-24.08.0/Library/include/poppler/ProfileData.h
poppler-24.08.0/Library/include/poppler/PSOutputDev.h
poppler-24.08.0/Library/include/poppler/PSTokenizer.h
poppler-24.08.0/Library/include/poppler/Rendition.h
poppler-24.08.0/Library/include/poppler/SecurityHandler.h
poppler-24.08.0/Library/include/poppler/SignatureInfo.h
poppler-24.08.0/Library/include/poppler/Sound.h
poppler-24.08.0/Library/include/poppler/SplashOutputDev.h
poppler-24.08.0/Library/include/poppler/Stream-CCITT.h
poppler-24.08.0/Library/include/poppler/Stream.h
poppler-24.08.0/Library/include/poppler/StructElement.h
poppler-24.08.0/Library/include/poppler/StructTreeRoot.h
poppler-24.08.0/Library/include/poppler/TextOutputDev.h
poppler-24.08.0/Library/include/poppler/UnicodeCClassTables.h
poppler-24.08.0/Library/include/poppler/UnicodeCompTables.h
poppler-24.08.0/Library/include/poppler/UnicodeDecompTables.h
poppler-24.08.0/Library/include/poppler/UnicodeMap.h
poppler-24.08.0/Library/include/poppler/UnicodeMapFuncs.h
poppler-24.08.0/Library/include/poppler/UnicodeMapTables.h
poppler-24.08.0/Library/include/poppler/UnicodeTypeTable.h
poppler-24.08.0/Library/include/poppler/UTF.h
poppler-24.08.0/Library/include/poppler/ViewerPreferences.h
poppler-24.08.0/Library/include/poppler/XRef.h
poppler-24.08.0/Library/include/poppler/cpp/poppler_cpp_export.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-destination.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-document.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-embedded-file.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-font-private.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-font.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-global.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-image.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-page-renderer.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-page-transition.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-page.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-rectangle.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-toc.h
poppler-24.08.0/Library/include/poppler/cpp/poppler-version.h
poppler-24.08.0/Library/include/poppler/fofi/FoFiBase.h
poppler-24.08.0/Library/include/poppler/fofi/FoFiEncodings.h
poppler-24.08.0/Library/include/poppler/fofi/FoFiIdentifier.h
poppler-24.08.0/Library/include/poppler/fofi/FoFiTrueType.h
poppler-24.08.0/Library/include/poppler/fofi/FoFiType1.h
poppler-24.08.0/Library/include/poppler/fofi/FoFiType1C.h
poppler-24.08.0/Library/include/poppler/glib/poppler-action.h
poppler-24.08.0/Library/include/poppler/glib/poppler-annot.h
poppler-24.08.0/Library/include/poppler/glib/poppler-attachment.h
poppler-24.08.0/Library/include/poppler/glib/poppler-date.h
poppler-24.08.0/Library/include/poppler/glib/poppler-document.h
poppler-24.08.0/Library/include/poppler/glib/poppler-enums.h
poppler-24.08.0/Library/include/poppler/glib/poppler-features.h
poppler-24.08.0/Library/include/poppler/glib/poppler-form-field.h
poppler-24.08.0/Library/include/poppler/glib/poppler-layer.h
poppler-24.08.0/Library/include/poppler/glib/poppler-macros.h
poppler-24.08.0/Library/include/poppler/glib/poppler-media.h
poppler-24.08.0/Library/include/poppler/glib/poppler-movie.h
poppler-24.08.0/Library/include/poppler/glib/poppler-page.h
poppler-24.08.0/Library/include/poppler/glib/poppler-structure-element.h
poppler-24.08.0/Library/include/poppler/glib/poppler.h
poppler-24.08.0/Library/include/poppler/goo/gdir.h
poppler-24.08.0/Library/include/poppler/goo/gfile.h
poppler-24.08.0/Library/include/poppler/goo/gmem.h
poppler-24.08.0/Library/include/poppler/goo/GooCheckedOps.h
poppler-24.08.0/Library/include/poppler/goo/GooLikely.h
poppler-24.08.0/Library/include/poppler/goo/GooString.h
poppler-24.08.0/Library/include/poppler/goo/GooTimer.h
poppler-24.08.0/Library/include/poppler/goo/grandom.h
poppler-24.08.0/Library/include/poppler/goo/gstrtod.h
poppler-24.08.0/Library/include/poppler/goo/ImgWriter.h
poppler-24.08.0/Library/include/poppler/goo/JpegWriter.h
poppler-24.08.0/Library/include/poppler/goo/PNGWriter.h
poppler-24.08.0/Library/include/poppler/goo/TiffWriter.h
poppler-24.08.0/Library/include/poppler/splash/Splash.h
poppler-24.08.0/Library/include/poppler/splash/SplashBitmap.h
poppler-24.08.0/Library/include/poppler/splash/SplashClip.h
poppler-24.08.0/Library/include/poppler/splash/SplashErrorCodes.h
poppler-24.08.0/Library/include/poppler/splash/SplashFont.h
poppler-24.08.0/Library/include/poppler/splash/SplashFontEngine.h
poppler-24.08.0/Library/include/poppler/splash/SplashFontFile.h
poppler-24.08.0/Library/include/poppler/splash/SplashFontFileID.h
poppler-24.08.0/Library/include/poppler/splash/SplashFTFont.h
poppler-24.08.0/Library/include/poppler/splash/SplashFTFontEngine.h
poppler-24.08.0/Library/include/poppler/splash/SplashFTFontFile.h
poppler-24.08.0/Library/include/poppler/splash/SplashGlyphBitmap.h
poppler-24.08.0/Library/include/poppler/splash/SplashMath.h
poppler-24.08.0/Library/include/poppler/splash/SplashPath.h
poppler-24.08.0/Library/include/poppler/splash/SplashPattern.h
poppler-24.08.0/Library/include/poppler/splash/SplashScreen.h
poppler-24.08.0/Library/include/poppler/splash/SplashState.h
poppler-24.08.0/Library/include/poppler/splash/SplashTypes.h
poppler-24.08.0/Library/include/poppler/splash/SplashXPath.h
poppler-24.08.0/Library/include/poppler/splash/SplashXPathScanner.h
poppler-24.08.0/Library/lib/poppler-cpp.lib
poppler-24.08.0/Library/lib/poppler-glib.lib
poppler-24.08.0/Library/lib/poppler.lib
poppler-24.08.0/Library/lib/pkgconfig/poppler-cpp.pc
poppler-24.08.0/Library/lib/pkgconfig/poppler-glib.pc
poppler-24.08.0/Library/lib/pkgconfig/poppler.pc
poppler-24.08.0/Library/share/man/man1/pdfattach.1
poppler-24.08.0/Library/share/man/man1/pdfdetach.1
poppler-24.08.0/Library/share/man/man1/pdffonts.1
poppler-24.08.0/Library/share/man/man1/pdfimages.1
poppler-24.08.0/Library/share/man/man1/pdfinfo.1
poppler-24.08.0/Library/share/man/man1/pdfseparate.1
poppler-24.08.0/Library/share/man/man1/pdftocairo.1
poppler-24.08.0/Library/share/man/man1/pdftohtml.1
poppler-24.08.0/Library/share/man/man1/pdftoppm.1
poppler-24.08.0/Library/share/man/man1/pdftops.1
poppler-24.08.0/Library/share/man/man1/pdftotext.1
poppler-24.08.0/Library/share/man/man1/pdfunite.1
poppler-24.08.0/share/poppler/CMakeLists.txt
poppler-24.08.0/share/poppler/COPYING
poppler-24.08.0/share/poppler/COPYING.adobe
poppler-24.08.0/share/poppler/COPYING.gpl2
poppler-24.08.0/share/poppler/Makefile
poppler-24.08.0/share/poppler/poppler-data.pc
poppler-24.08.0/share/poppler/poppler-data.pc.in
poppler-24.08.0/share/poppler/README
poppler-24.08.0/share/poppler/cidToUnicode/Adobe-CNS1
poppler-24.08.0/share/poppler/cidToUnicode/Adobe-GB1
poppler-24.08.0/share/poppler/cidToUnicode/Adobe-Japan1
poppler-24.08.0/share/poppler/cidToUnicode/Adobe-Korea1
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-0
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-1
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-2
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-3
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-4
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-5
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-6
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-7
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-B5pc
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-ETen-B5
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-H-CID
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-H-Host
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-H-Mac
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/Adobe-CNS1-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/B5-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/B5-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/B5pc-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/B5pc-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/B5pc-UCS2C
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/B5pc-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/CNS-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/CNS-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/CNS1-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/CNS1-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/CNS2-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/CNS2-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/ETen-B5-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/ETen-B5-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/ETen-B5-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/ETenms-B5-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/ETenms-B5-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/ETHK-B5-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/ETHK-B5-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKdla-B5-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKdla-B5-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKdlb-B5-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKdlb-B5-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKgccs-B5-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKgccs-B5-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKm314-B5-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKm314-B5-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKm471-B5-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKm471-B5-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKscs-B5-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/HKscs-B5-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/UCS2-B5pc
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/UCS2-ETen-B5
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/UniCNS-UCS2-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/UniCNS-UCS2-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/UniCNS-UTF8-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/UniCNS-UTF8-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/UniCNS-UTF16-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/UniCNS-UTF16-V
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/UniCNS-UTF32-H
poppler-24.08.0/share/poppler/cMap/Adobe-CNS1/UniCNS-UTF32-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-0
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-1
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-2
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-3
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-4
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-5
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-GBK-EUC
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-GBpc-EUC
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-H-CID
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-H-Host
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-H-Mac
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/Adobe-GB1-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GB-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GB-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GB-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GB-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBK-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBK-EUC-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBK-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBK2K-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBK2K-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBKp-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBKp-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBpc-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBpc-EUC-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBpc-EUC-UCS2C
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBpc-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBT-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBT-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBT-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBT-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBTpc-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/GBTpc-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/UCS2-GBK-EUC
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/UCS2-GBpc-EUC
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/UniGB-UCS2-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/UniGB-UCS2-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/UniGB-UTF8-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/UniGB-UTF8-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/UniGB-UTF16-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/UniGB-UTF16-V
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/UniGB-UTF32-H
poppler-24.08.0/share/poppler/cMap/Adobe-GB1/UniGB-UTF32-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/78-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/78-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/78-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/78-RKSJ-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/78-RKSJ-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/78-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/78ms-RKSJ-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/78ms-RKSJ-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/83pv-RKSJ-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/90ms-RKSJ-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/90ms-RKSJ-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/90ms-RKSJ-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/90msp-RKSJ-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/90msp-RKSJ-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/90pv-RKSJ-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/90pv-RKSJ-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/90pv-RKSJ-UCS2C
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/90pv-RKSJ-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Add-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Add-RKSJ-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Add-RKSJ-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Add-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-0
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-1
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-2
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-3
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-4
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-5
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-6
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-7
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-90ms-RKSJ
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-90pv-RKSJ
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-H-CID
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-H-Host
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-H-Mac
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-PS-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-PS-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Adobe-Japan1-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Ext-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Ext-RKSJ-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Ext-RKSJ-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Ext-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Hankaku
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Hiragana
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Hojo-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Hojo-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Hojo-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Hojo-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Katakana
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/NWP-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/NWP-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/RKSJ-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/RKSJ-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/Roman
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UCS2-90ms-RKSJ
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UCS2-90pv-RKSJ
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniHojo-UCS2-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniHojo-UCS2-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniHojo-UTF8-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniHojo-UTF8-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniHojo-UTF16-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniHojo-UTF16-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniHojo-UTF32-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniHojo-UTF32-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS-UCS2-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS-UCS2-HW-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS-UCS2-HW-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS-UCS2-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS-UTF8-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS-UTF8-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS-UTF16-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS-UTF16-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS-UTF32-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS-UTF32-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS2004-UTF8-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS2004-UTF8-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS2004-UTF16-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS2004-UTF16-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS2004-UTF32-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJIS2004-UTF32-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJISPro-UCS2-HW-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJISPro-UCS2-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJISPro-UTF8-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJISX0213-UTF32-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJISX0213-UTF32-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJISX02132004-UTF32-H
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/UniJISX02132004-UTF32-V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/V
poppler-24.08.0/share/poppler/cMap/Adobe-Japan1/WP-Symbol
poppler-24.08.0/share/poppler/cMap/Adobe-Japan2/Adobe-Japan2-0
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/Adobe-Korea1-0
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/Adobe-Korea1-1
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/Adobe-Korea1-2
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/Adobe-Korea1-H-CID
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/Adobe-Korea1-H-Host
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/Adobe-Korea1-H-Mac
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/Adobe-Korea1-KSCms-UHC
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/Adobe-Korea1-KSCpc-EUC
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/Adobe-Korea1-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSC-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSC-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSC-H
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSC-Johab-H
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSC-Johab-V
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSC-V
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSCms-UHC-H
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSCms-UHC-HW-H
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSCms-UHC-HW-V
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSCms-UHC-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSCms-UHC-V
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSCpc-EUC-H
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSCpc-EUC-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSCpc-EUC-UCS2C
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/KSCpc-EUC-V
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/UCS2-KSCms-UHC
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/UCS2-KSCpc-EUC
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/UniKS-UCS2-H
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/UniKS-UCS2-V
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/UniKS-UTF8-H
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/UniKS-UTF8-V
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/UniKS-UTF16-H
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/UniKS-UTF16-V
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/UniKS-UTF32-H
poppler-24.08.0/share/poppler/cMap/Adobe-Korea1/UniKS-UTF32-V
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-0
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-1
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-2
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-3
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-4
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-5
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-6
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-7
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-8
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-9
poppler-24.08.0/share/poppler/cMap/Adobe-KR/Adobe-KR-UCS2
poppler-24.08.0/share/poppler/cMap/Adobe-KR/UniAKR-UTF8-H
poppler-24.08.0/share/poppler/cMap/Adobe-KR/UniAKR-UTF16-H
poppler-24.08.0/share/poppler/cMap/Adobe-KR/UniAKR-UTF32-H
poppler-24.08.0/share/poppler/nameToUnicode/Bulgarian
poppler-24.08.0/share/poppler/nameToUnicode/Greek
poppler-24.08.0/share/poppler/nameToUnicode/Thai
poppler-24.08.0/share/poppler/unicodeMap/Big5
poppler-24.08.0/share/poppler/unicodeMap/Big5ascii
poppler-24.08.0/share/poppler/unicodeMap/EUC-CN
poppler-24.08.0/share/poppler/unicodeMap/EUC-JP
poppler-24.08.0/share/poppler/unicodeMap/GBK
poppler-24.08.0/share/poppler/unicodeMap/ISO-2022-CN
poppler-24.08.0/share/poppler/unicodeMap/ISO-2022-JP
poppler-24.08.0/share/poppler/unicodeMap/ISO-2022-KR
poppler-24.08.0/share/poppler/unicodeMap/ISO-8859-6
poppler-24.08.0/share/poppler/unicodeMap/ISO-8859-7
poppler-24.08.0/share/poppler/unicodeMap/ISO-8859-8
poppler-24.08.0/share/poppler/unicodeMap/ISO-8859-9
poppler-24.08.0/share/poppler/unicodeMap/KOI8-R
poppler-24.08.0/share/poppler/unicodeMap/Latin2
poppler-24.08.0/share/poppler/unicodeMap/Shift-JIS
poppler-24.08.0/share/poppler/unicodeMap/TIS-620
poppler-24.08.0/share/poppler/unicodeMap/Windows-1255
